# PostgreSQL
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
POSTGRES_DB=foodgram_db
DB_HOST=foodgram_db
DB_PORT=5432

# Setting
SECRET_KEY='django-insecure-tl*i#riundlh3l*j=eael8e7bv$9k^659yl3n1*%ztk&ohwben'
DEBUG=True
ALLOWED_HOSTS=None